
.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    gap: 10px;
    align-items: center; /* Center the buttons */
}

.page-info {
    font-size: 16px; /* Adjust as needed */
    text-align: center;
}

.step-links {
    display: flex;
    gap: 10px;
}

.step-links a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--text-secondary);
    font-weight: bold;
    font-size: 14px; /* Adjust font size if needed */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for the links */
.step-links a:hover {
    background: var(--selected-color); /* Darker purple on hover */
    color: #fff; /* Ensure text stays white on hover */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 columns */
    grid-gap: 10px; /* Space between the buttons */
  }

  .company-logo-container {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.company-info {
    margin-top: 20px;
}

.view-all-btn-container {
    text-align: center;
    margin-top: 20px;
}

