{% extends 'base_content.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="search-bar" style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
        <form action="{% url 'search' %}" method="GET" style="display: flex; align-items: center;">
          <input type="text" name="q" placeholder="What are you looking for today?" value="{{ query|default:'' }}" 
                 style="padding: 15px; font-size: 1.25rem; border: 2px solid var(--border-color); border-radius: 25px; width: 600px; max-width: 600px;">
          <button type="submit" 
                  style="padding: 15px 30px; font-size: 1.25rem; border-radius: 25px; background-color: var(--primary-color); color: white; border: none; margin-left: 10px;">
            Search
          </button>
        </form>
      </div>

    <div id="who-are-we" class="info-section">
        <a href="{% url 'contact_us' %}" style="text-decoration: none; color: inherit;">
        <h2>Who Are We</h2>
        <p>Welcome to Shy! We are dedicated to providing the best experience for users and companies alike. Our platform fosters seamless collaboration and connections.</p>
    </div>

    <div id="contact-us" class="info-section">
        <a href="{% url 'contact_us' %}" style="text-decoration: none; color: inherit;">
        <h2>Contact Us</h2>
        <p>If you have any questions or need support, feel free to reach out. Contact us via email at <strong>support@shy.com</strong> or call us at <strong>(123) 456-7890</strong>.</p>
    </div>
</body>
</html>

{% endblock %}

