{% extends 'base_content.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/my_jobs.css' %}">

<div class="application-container">
    <div class="application-header">
      <h2>Job Application</h2>
    </div>
  
    <div class="progress-container">
      <div class="progress-bar">
        <div class="progress-step active">
          <!-- Checked and disabled to indicate completion -->
          <input type="checkbox" class="step-checkbox">
          <div class="step-text">Applied</div>
        </div>
        <div class="progress-step">
          <!-- Unchecked by default -->
          <input type="checkbox" class="step-checkbox">
          <div class="step-text">Assesment</div>
        </div>
        <div class="progress-step">
          <input type="checkbox" class="step-checkbox">
          <div class="step-text">Interview</div>
        </div>
        <div class="progress-step">
          <input type="checkbox" class="step-checkbox">
          <div class="step-text">Job Offer</div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}