{% load static %}

<nav class="top-nav">
  <div class="logo">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/SHY.png' %}" alt="SHY Logo" class="logo-img">    
    </a>
  </div>

  <div class="search-container">
    <span class="search-icon">🔍</span>
    <input type="search" placeholder="Search jobs..." class="search-input">
  </div>
  
  <div class="user-actions">
    <button class="icon-btn" onclick="window.location.href='/'"><i class="fas fa-house"></i></button>
    <button class="icon-btn" onclick="window.location.href='/'"><i class="fas fa-bell"></i></button>
    <button class="icon-btn" onclick="window.location.href='/'"><i class="fas fa-commenting"></i></button>
    <div class="dropdown">
      <button class="login-btn"><img id="nav-profile-pic" src="https://i.pravatar.cc/40" alt="Profile" class="nav-profile-img"></button>
      <div class="dropdown-content">
        <a href="/user_dashboard/">View Profile</a>
        <a href="/settings/">Settings</a>
        <a href="/job-postings/">Job Postings</a>
        <a href="/applications_tracker/">My Applications</a>
        <a href="{% url 'logout' %}">Sign Out</a>
      </div>
    </div>
  </div>
</div>
</nav>