{% load static %}

<footer class="footer">
    <div class="container">
        <ul class="footer-links">
            <li><a href="#">Help Centre</a></li>
            <li><a href="/settings/">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="/contact_us/">Contact Us</a></li>
            <li><a href="/about_us/">About SHY</a></li>
            <li><a href="#">User Agreement</a></li>
            <li><a href="#">FAQs</a></li>
            
        </ul>
        <p class="footer-text">© 2025 SHY. All rights reserved.</p>
    </div>
</footer>