{% load static %}

<footer class="footer">
    <div class="footer-container">
        <ul class="footer-links">
            <li><a href="/help_centre">Help Centre</a></li>
            <li><a href="/terms_conditions/">Terms & Conditions</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/accessibility">Accessibility</a></li>
            <li><a href="/contact_us/">Contact Us</a></li>
            <li><a href="/about_us/">About SHY</a></li>
            <li><a href="/user_agreement/">User Agreement</a></li>
            <li><a href="/faq/">FAQs</a></li>
            
        </ul>
        <p class="footer-text">© 2025 SHY. All rights reserved.</p>
    </div>
</footer>